.task {
    box-sizing: border-box;
    background-color: #F6F7F8;
    color: #011627;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    border-left: 5px solid #20A4F3;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.task:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 10px 1px;
}

.task strong {
    color: #20A4F3;
    margin-top: 10px;
    font-size: 30px;
}

.task h3 {
    font-size: 35px;
    margin-bottom: 8px;
    display: block;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;

    color: #011627;
}

.task p,
.task span {
    display: block;
    font-size: 30px;
    line-height: 1.4;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}



.task span {
    font-weight: bold;
    padding: 5px 0;
}

.task .status {
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
}

.task .completed {
    background-color: rgba(46, 196, 182, 0.2);
    color: #2EC4B6;
}

.task .not-completed {
    background-color: rgba(255, 51, 102, 0.2);
    color: #FF3366;
}


@media (min-width: 600px) and (max-width: 1000px) {
    .task {
        width: 90%;
    }
    
}
@media (min-width: 300px) and (max-width: 600px) {
    .task {
        width: 100%;
        padding: 10px;
        
    }
  
}
@media (min-width: 100px) and (max-width: 300px) {
    .task {
        padding: 10px;
        width: 100%;
    }

}